body{

background:

radial-gradient(

circle at top,

#260606,

#090909 70%

);

min-height:100vh;

overflow:hidden;

}

#app{

width:100vw;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:30px;

}
