:root{

--bg:#090909;

--panel:#171717;

--panel-hover:#1E1E1E;

--border:#2A2A2A;

--primary:#B71C1C;

--primary-light:#E53935;

--gold:#D4AF37;

--success:#4CAF50;

--danger:#F44336;

--text:#FFFFFF;

--muted:#9C9C9C;

--radius:18px;

--shadow:

0 20px 60px rgba(0,0,0,.45);

--transition:.25s;

}
